<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <div class="container">
        <h1>WELCOME TO REMINDER APP</h1>
        <div class="section1">
            <form (ngSubmit)=submit()>
            <input type="date" placeholder="enter a date" class="form-control" name="date"([ngModel])="date">
            <input type="text" placeholder="enter the reminder" class="form-control" name="reminder"([ngModel])="reminder">
            <button type="submit" class="btn btn-success">ADD REMINDER</button>
            <button type="button" class="btn btn-primary">VIEW ALL REMINDER</button>
        </form>
        </div>
    </div>
</body>
</html>