<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>loginform</title>
</head>

<body>
    <div class="container">
    <div class="section1">
        <form (ngSubmit)="register()">
        <input type="text" placeholder=" userid" class="form-control m-2"  name="userid"[(ngModel)]="userid">
        <input type="text" placeholder="username" class="form-control m-2" name="username" [(ngModel)]="username">

        <input type="text" placeholder="password" class="form-control m-2"name="password" [(ngModel)]="password">
        
        <button type="submit"  class="btn btn-primary button1 ">REGISTER</button>
    </form>
    </div>
</div>
</body>

</html>
